/*===============================================================
	Style sheet for the Final Project
===============================================================*/

body {

    /*font-family: Helvetica, sans-serif;*/
    background-image: url("unicef.jpg");

}

h1 {
	font-size: 50px;
    text-align: center;
    color: rgb(0,153,255);
    /*font-family: "Trebuchet MS", sans-serif;*/
    font-weight: bold;
}
h3 {
    /*color: rgb(0,153,255);*/
    font-weight: bold;
}

.subtitle {
    font-size: 30px;
    text-align: center;
    color: #000;
    /*font-family: "Trebuchet MS";*/
    margin-top: 0em;
    font-weight: bold;
}
.container {
    /*background-color: rgba(255, 255, 255, 0.98);*/
    background-color: #fff;
    margin-top: 1em;
    padding-right: 3em;
    padding-left: 3em;
    max-width: 900px;
}

p {
  /*padding: 1em 1em 0.5em 1em;*/
  padding: 1em;
  margin: 0em;
}

.source {
    font-style: italic;
    /*color: rgb(0,153,255);*/
    margin-top: 0em;
    padding-top: 0em;
    color: #8A8A8A;
    text-align: right;
    margin-bottom: 1em;
    font-size: 0.8em;
}

.cyan-bold{
    color: rgb(0,153,255);
    font-weight: bold;
}
/*===============================================================
	Choropleth Map-specific
===============================================================*/
.countries_choropleth {
    stroke: #fff;
    stroke-width:1px;
}

.countries_choropleth:hover{
    opacity: .7;
}

.legendLinear_choropleth text {
    font-size: 9px;
}

.vis_choropleth {
    display: block;
    margin: auto;
}




/*===============================================================
   Scrollytelling
===============================================================*/

.container_scrolly {
  width: 900px;
}

#graphic_scrolly {
  padding-top: 60px;
}

#sections_scrolly {
  position: relative;
  display: inline-block;
  width: 250px;
  top: 0px;
  z-index: 90;
  padding-bottom: 20px;
}

.step_scrolly {
  margin-bottom: 200px;
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 16px;
  line-height: 23px;
  color: #767678;
}

#sections_scrolly .title_scrolly {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#vis_scrolly {
  display: none;
  position: fixed;
  top: 60px;
  /*z-index: 1;*/
  margin-left: 0;
  font-size: 10px;
}

#page_header {
  position: relative;
  margin: 20px;
  /*z-index: 2;*/
  width: 600px;
}

.axis_scrolly path,
.axis_scrolly line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

path.line_scrolly {
  fill: none;
  stroke-width: 1px;
  stroke-opacity: 80%;
}

.line_scrolly.normal_scrolly {
  stroke: #d1e5f0;
}

.line_scrolly.unfocused_scrolly{
  stroke-opacity: 40%;
}

.line_scrolly.focused_scrolly {
  stroke-width: 2px;
  stroke-opacity: 100%;
  stroke: rgb(0,153,255);
}
#extra-space {
  height: 50px;
}


/*===============================================================
   Top 20: BarChart
===============================================================*/
    #menu_top20 {
        display: block;
        float: right;
        padding-bottom: 40px;
        padding-right: 50px;
    }

    #vis_top20 {
        display: block;
        /*padding-left: 75px;*/
        float: right;
        clear: right;
    }


    #menu_top20 select {
    background: #ccc;
       width: 300px;
       padding: 5px;
       font-size: 14px;
       line-height: 1;
       border: 0;
       border-radius: 0;
       height: 34px;
    }

    .labels_top20 {
        font-family: Arial;
        /*dark-grey*/
        /*fill: #424242; */
        /*deep-ink, a very dark-blue*/
        fill: #030C22;
        /*night teal: colourlovers*/
        /*fill: #003E5F;*/
        /*fill: #000;*/
        /*fill: #fff;*/
        font-size: 12px;
        font-weight: bold;
    }
/*===============================================================
   Top 20: Dot Plot
===============================================================*/

#vis_dotplot {
    display: block;
    float: left;
    clear: left;
    margin-top: -675px;
}

div.y2015 {
    color: #6699FF;
    display: inline;
}
div.y1990 {
    color: orange;
    display: inline;
}

circle {
    stroke-width: 2;
}

circle.y2015 {
    fill: #6699FF;
}

circle.y1990 {
    fill: orange;
}

circle:hover {
    stroke-width: 3;
    stroke: white;
}

line.grid_dotplot {
    stroke: #eee;
}

line.between_dotplot {
    stroke: black;
}

.axis_dotplot path,
.axis_dotplot line {
    fill: none;
    stroke: black;
    stroke: none;
    shape-rendering: crispEdges;
}

.axis_dotplot text {
    font-size: 11px;
}


.ylabel_dotplot,.xlabel_dotplot {
    font-size: 14px;
    color: #0099FF;
    font-weight: bold;
}

/*===============================================================
   Scatterplot
===============================================================*/
.vis_scatter{
    display: block;
    margin-right: auto;
    margin-left: auto;   
}
input {
    margin: 5px;
    font-size: 15pt;
    padding: 3px;
}

button {
    margin: 5px;
    font-size: 15pt;
    padding: 3px;
    cursor: pointer;
}

.selected {
    background-color: rgba(0,153,255, 0.5);
}

.data1990 {
    width: 200px;
    position: absolute;
    left: 600px;
    top: 300px;
}
.data2015 {
    width: 200px;
    position: absolute;
    left: 600px;
    top: 450px;
}


.clicker {
    font-weight: bolder;
    color: red;
    cursor: pointer;
}


/*.dots {
    fill: steelblue;
}*/

.dotlabels_scatter {
    font-size: 10px;
    color: black;
}

.highlighted {
    fill: orange;
}

.axis_scatter path,
.axis_scatter line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis_scatter text {
    font-family: sans-serif;
    font-size: 11px;
}

