/*===============================================================
	Style sheet for the Final Project
===============================================================*/

body {

    font-family: Helvetica, sans-serif;
    background-image: url("unicef.jpg");

}

h1 {
	font-size: 50px;
    text-align: center;
    color: rgb(0,153,255);
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
}
h3 {
    /*color: rgb(0,153,255);*/
    font-weight: bold;
}

.subtitle {
    font-size: 30px;
    text-align: center;
    color: #000;
    font-family: "Trebuchet MS";
    margin-top: 0em;
    font-weight: bold;
}
.container {
    /*background-color: rgba(255, 255, 255, 0.98);*/
    background-color: #fff;
    margin-top: 1em;
    padding-right: 3em;
    padding-left: 3em;
    max-width: 900px;
}

p {
  padding: 1em;
  margin: 0em;
}

.source {
    font-style: italic;
    /*color: rgb(0,153,255);*/
    color: #8A8A8A;
}
/*===============================================================
	Choropleth Map-specific
===============================================================*/
.countries_choropleth {
    stroke: #fff;
    stroke-width:1px;
}

.countries_choropleth:hover{
    opacity: .7;
}

.legendLinear_choropleth text {
    font-size: 9px;
}

.vis_choropleth {
    display: block;
    margin: auto;
}


/*===============================================================
   Stepper
===============================================================*/


svg_stepper {
    /*    padding: 1em;*/
    background-color: rgb(255, 255, 255);
}

svg_stepper rect:hover {
    opacity: .3;
}

svg_stepper circle:hover {
    opacity: .3;
}

svg_stepper g {
    fill: #ACACAC;
}

svg_stepper g text.label_stepper,
svg_stepper g text.ylabel_stepper {
    fill: #2A2A2A;
}

svg_stepper {
    background-color: white;
}

.axis_stepper path,
.axis_stepper line {
    fill: none;
    stroke: #D3D3D3;
    stroke-width: 1px;
}

.line_stepper {
    stroke: #FF9900;
    fill: none;
    stroke-opacity: 25%;
    stroke-width: 1px;
}

.ssAfrica {
    stroke: red;
    stroke-opacity: 50%;
}

.unfocused {
    stroke-opacity: 25%;
}

.focused {
    stroke-width: 2px;
    stroke-opacity: 100%;
}


.axis_stepper text,
.aside {
    font-family: sans-serif;
    font-size: 11px;
}


.orange {
    color: #FF9900;
}

.blue {
    color: #0099FF;
}

.red {
    color: red;
}

.tooltip_stepper {
    position: absolute;
    z-index: 10;
}

.tooltip_stepper p {
    background-color: rgba(255, 255, 255, .8);
    padding: .5em 1em;
    font-size: 12px;
    line-height: 17px;
    color: black;
}

.tooltipHeader_stepper {
    font-weight: 700;
    font-size: 12.5px;
}

/*===============================================================
   Top 20
===============================================================*/

    #vis_top20 {
        padding-left: 75px;
    }

    #menu_top20 {
        padding-bottom: 40px;
    }

    #menu_top20 select {
    background: #ccc;
       width: 300px;
       padding: 5px;
       font-size: 14px;
       line-height: 1;
       border: 0;
       border-radius: 0;
       height: 34px;
    }

    .labels_top20 {
        font-family: Arial;
        /*dark-grey*/
        /*fill: #424242; */
        /*deep-ink, a very dark-blue*/
        fill: #030C22;
        font-size: 12px;
        font-weight: bold;
    }
